:root {
    --pale-lt: #FFFFFF;
    --pale: #F7EEDD;
    --pale-dk: #ECD5AC;
    --medium1-lt: #FDB435;
    --medium1: #FCA50A;
    --medium1-dk: #CA8102;
    --medium2-lt: #00FFFF;
    --medium2: #00D6D6;
    --medium2-dk: #009999;
    --dark-lt: #024764;
    --dark: #012839;
    --dark-dk: #000000;
    --title-bg-img: url("img/title-img.jpg")
}

body {
    color: var(--dark);
    font-family: 'Raleway', sans-serif;
}

.h2, .h3, .btn, .nav-link {
    font-family: 'Varela Round', sans-serif;
}

.navbar-custom {
    background-color: var(--pale-lt);
}

.h1, .navbar-brand {
    font-family: 'Syncopate', sans-serif;
    font-weight: bolder;
}

.h1.title  {
    font-size: 48px;
}

.btn-primary.custom-btn, .nav-pills {
    background-color: var(--medium1);
    border: var(--medium1)!important;
    box-shadow: none!important;
}

.btn-primary.custom-btn:focus, .btn-primary.custom-btn:active, .btn-primary.custom-btn:hover {
    background: var(--medium1-dk)!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .dropdown-toggle:active, .open .dropdown-toggle,.dropdown-toggle:focus, .dropdown-item:active {
    background: var(--medium1)!important;
}

.btn-primary.custom-btn-card {
    background-color: var(--medium1);
    border: var(--medium1)!important;
    box-shadow: none!important;
}

.btn-primary.custom-btn-card:focus, .btn-primary.custom-btn-card:active, .btn-primary.custom-btn-card:hover {
    background: var(--medium1-dk)!important;
}

.nav-link{
    color: var(--pale-lt);
}

.nav-link:hover {
    color: var(--pale);}

.title-jumbo-lg, .title-jumbo-sm {
    background-color: var(--pale);
}

.ft-bi, .ft-ds {
    text-align: center;
    font-weight: bold;
}

.ft-bi {
    background-color: var(--medium2-dk);
    color: var(--pale-lt);
}

.ft-ds {
    background-color: var(--dark-lt);
    color: var(--pale-lt);
}

.course-logo {
    width: 40%;
    height: 50px;
    object-fit: scale-down;
}

#title-lg {
    background-image: var(--title-bg-img);
    height: 400px;
}

#title-sm {
    background-color: var(--pale-dk);
    height: 400px;
}