:root {
    --white: white;
    --pale-lt: #e8f372;
    --pale: #DCED31;
    --pale-dk: #c3d312;
    --medium1-lt: #f2a273;
    --medium1: #ED7D3A;
    --medium1-dk: #d25914;
    --medium2-lt: #f3597a;
    --medium2: #EF2D56;
    --medium2-dk: #d5103b;
    --dark-lt: #59575b;
    --dark: #363537;
    --dark-dk: #1a191a;
    --title-bg-img: url("img/title-img.jpg")
}

body {
    color: var(--dark-dk);
    font-family: 'Raleway', sans-serif;
}

.h2, .h3, .btn, .nav-link {
    font-family: 'Varela Round', sans-serif;
}

.navbar-custom {
    background-color: var(--white);
}

.h1, .navbar-brand {
    font-family: 'Syncopate', sans-serif;
    font-weight: bolder;
}

.h1.title  {
    font-size: 48px;
}

.btn-primary.custom-btn, .nav-pills {
    background-color: var(--medium2);
    border: var(--medium2)!important;
    box-shadow: none!important;
}

.btn-primary.custom-btn:focus, .btn-primary.custom-btn:active, .btn-primary.custom-btn:hover {
    background: var(--medium2-lt)!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .dropdown-toggle:active, .open .dropdown-toggle,.dropdown-toggle:focus, .dropdown-item:active {
    background: var(--medium2)!important;
}

.btn-primary.custom-btn-card {
    background-color: var(--medium2);
    border: var(--medium2)!important;
    box-shadow: none!important;
}

.btn-primary.custom-btn-card:focus, .btn-primary.custom-btn-card:active, .btn-primary.custom-btn-card:hover {
    background: var(--medium2-lt)!important;
}

.nav-link{
    color: var(--white);
}

.nav-link:hover {
    color: var(--medium2-lt);}

.title-jumbo-lg, .title-jumbo-sm {
    background-color: var(--pale-lt);
}

.ft-bi, .ft-ds {
    text-align: center;
    font-weight: bold;
}

.ft-bi {
    background-color: var(--dark-lt);
    color: var(--white);
}

.ft-ds {
    background-color: var(--dark-lt);
    color: var(--white);
}

.course-logo {
    width: 40%;
    height: 50px;
    object-fit: scale-down;
}

#title-lg {
    background-image: var(--title-bg-img);
    height: 400px;
}

#title-sm {
    background-color: var(--pale-lt);
    height: 400px;
}